/* Custom font */
@font-face {
    font-family: 'MyFont';
    src: url('./assets/BrainWants-ODYe.ttf');
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
    background-image: linear-gradient(white, skyblue);
    font-family: 'MyFont', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    min-width: 300px;
    min-height: 350px;
    overflow: hidden; /* prevents resizing due to content changes */
}

/* Title */
h1 {
    font-family: 'MyFont', serif;
    color: #333;
}

/* Happiness Meter*/
.meter-container {
    margin-bottom: 15px;
}

/* Button*/
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    font-family: 'MyFont', monospace;
    font-size: 16px;
    background-color: #8b48bc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width:130px; 
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #502171;
}

/* smooth fade effect */
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.change-bg-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#bgButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#bgButton:hover {
    background-color: #45a049;
}

#websiteDisplay {
    max-width: 250px; /* or 100% depending on container */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto 12px auto;
    display: block;
}

.website-input {
    overflow-x: hidden;
    word-wrap: break-word; /* optional if using multiline layout */
    padding: 0 10px;
}